<?xml version="1.0"?>
<!-- Note: As an alternative to manually editing this file you can use the web admin tool to
     configure settings for your application. Use the Website->ASP.NET Configuration option 
     in Visual Studio.
     A full list of settings and comments can be found in machine.config.comments usually
     located in \Windows\Microsoft.NET\Framework\v2.0.xxxxx\Config
 -->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Wap_TheThaoSo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Wap_TruyenThong.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="CacheExpire" value="-1"/>
		<add key="WapDefault" value="http://visport.vn"/>
		<add key="CurrentDomain" value="http://visport.vn"/>
		<add key="WebRoots" value="http://media.xzone.vn:9002/" />
		<add key="WebRoot" value="http://media.xzone.vn/" />

		<add key="WapWidth" value="320"/>

		<add key="urldata" value="http://media.xzone.vn:9002/"/>
		<add key="urldata1" value="http://media.xzone.vn/"/>

		<add key="DownloadUrl" value="http://media.nhacvietplus.com.vn:8007"/>
		<add key="streamingVideoPrefix" value="rtsp:/183.91.14.101:1935/vod/_definst_/"/>
		<add key="streamingPrefix" value="rtsp:/183.91.14.101:1935/vod/_definst_/"/>
		<add key="NameLength" value="18"/>
		<add key="realUploaddir" value="D:\Vip_Project\vs2008\Plus_Portal\Administrator"/>
		<add key="UseManualUserAgent" value="1"/>
		<add key="ManualUserAgent" value=""/>
		<!--Cache setting don vi "Phut"-->
		<add key="Cache1Minute" value="1"/>
		<add key="Cache2Minute" value="2"/>
		<add key="Cache3Minute" value="3"/>
		<add key="Cache4Minute" value="4"/>
		<add key="Cache5Minute" value="5"/>
		<add key="Cache10Minute" value="10"/>
		<add key="LongCacheExpire" value="100"/>

		<!--ZoneCenter-->
		<add key="BongDaAnh" value="336"/>
		<add key="BongDaTayBanNha" value="344"/>
		<add key="BongDaItalia" value="340"/>
		<add key="BongDaDuc" value="348"/>
		<add key="BongNamChau" value="356"/>
		<add key="BongVietNam" value="272"/>
		<add key="TheThaoQuocTe" value="97"/>

		<!--ZoneBottom-->
		<add key="England" value="68"/>
		<add key="Asia" value="7"/>
		<add key="World" value="1"/>

		<!--Config Charging-->
		
		<!--Price for viSport-->
			<add key="wallprice" value="2000"/>
			<add key="videoprice" value="2000"/>
			<add key="ringtoneprice" value="2000"/>
			<add key="DuLieu_TyLe" value="2000"/>
			<add key="DuLieu_TuongThuat" value="2000"/>
			<add key="TuVanBongDa" value="5000"/>
		<!--End Price for viSport-->
		
		
		<add key="PartnerID" value="39"/>
		<add key="Password" value="hjf98t7h76ft543esij98098"/>
		<add key="PaymentDomain" value="payment.xzone.vn"/>

		
		<add key="wallcode" value="WP"/>
		<add key="wallcommandcode" value="8279"/>
		
		
		<add key="videopriceView" value="2000"/>
		
		<add key="videocode" value="VID"/>
		<add key="videocommandcode" value="8279"/>
		
		<add key="ringtonecode" value="RING"/>
		<add key="ringtonecommandcode" value="8379"/>

		<add key="ykcgcode" value="FB TT"/>
		<add key="ykcgprice" value="2000"/>
		<add key="ykcgcommandcode" value="8279"/>

		<add key="tipprice" value="15000"/>
		<add key="tipcode" value="FB"/>
		<add key="tipcommandcode" value="8779"/>

		<add key="kqchoprice" value="5000"/>
		<add key="kqchocode" value="FB"/>
		<add key="kqchocommandcode" value="8579"/>

		<add key="goldcommandcode" value="8779"/>
		<add key="goldcode" value="FB VIP"/>
		<add key="goldprice" value="15000"/>

		<add key="tvtxcommandcode" value="8779"/>
		<add key="tvtxcode" value="FB TX"/>
		<add key="tvtxprice" value="15000"/>

		<add key="tvtdcommandcode" value="8779"/>
		<add key="tvtdcode" value="FB TD"/>
		<add key="tvtdprice" value="15000"/>

		<add key="sangcommandcode" value="8779"/>
		<add key="sangcode" value="FB"/>
		<add key="sangprice" value="15000"/>

		<add key="xiencommandcode" value="8779"/>
		<add key="xiencode" value="FB X"/>
		<add key="xienprice" value="15000"/>

		<add key="tkdbcommandcode" value="8779"/>
		<add key="tkdbcode" value="FB TK"/>
		<add key="tkdbprice" value="15000"/>

		<add key="download" value="http://download.8x79.vn/W4ADownload.ashx"/>
		<add key="downloadVideo" value="http://download.8x79.vn/Download.ashx"/>
		<add key="vnmdownload" value="http://download.8x79.vn/W4ADownload.aspx"/>
		<add key="vnmview" value="rtsp://media.xzone.vn"/>

		<add key="vnmviewIphone" value="http://media.xzone.vn"/>

		<add key="LogFile" value="Logs\wapViSport.txt"/>
		
		<!--Css setting-->
		<add key="CssPrefix" value="http://visport.vn/"/>
		<add key="CssVersion" value="80"/>
		<add key="ImgPrefix" value="http://visport.vn/"/>
		<add key="CommonCssSet" value="~/Styles/Common.css"/>
		<!--end Css setting-->

		<add key="NoGetAvatarWebservice" value="0"/>

		<add key="user_3g" value="VMGViSport"/>
		<add key="pass_3g" value="v@#port"/>
		<add key="userid_3g" value="1930"/>

		<add key="msisdnkey" value="rueoru023948234jfadf0fdx"/>
		<add key="TestFlag" value="0"/>
		<add key="CheckLowLife" value="1"/>

		<add key="Sub_Price" value="0"/>
		<add key="Sub_Desc" value="viSport Subscription"/>
		<add key="vnpreturnurlregis" value="/Wap/Success.aspx"/>
		<add key="vnpreturnurlregisLow" value="/Wap/SuccessLow.aspx"/>

		<add key="FlagAutoRegis" value="1"/>
	</appSettings>
	<connectionStrings>
		<!--<add name="ConnectionString" connectionString="server=183.91.14.42;database=vnnplus;uid=vnnplus3;pwd=123456;MultipleActiveResultSets=True;Pooling=true;Min Pool Size=0; Max Pool Size=10000000;"/>-->

		<add name="ConnectionString" connectionString="server=db168.vmgmedia.vn;database=TTND;uid=ttndacc;pwd=Swe8234Ue3ND"/>
		<add name="ConnectionString177" connectionString="server=db177.vmgmedia.vn;database=VMG_Portal;uid=portal;pwd=portal!@#"/>
		<add name="ConnectionStringttndservices" connectionString="server=db168.vmgmedia.vn;database=TTND_Services;uid=ttndservices;pwd=ttND53r7vice$"/>
	</connectionStrings>
	<log4net>
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<param name="file" value="Logs\viSport.txt"/>
			<param name="appendToFile" value="true"/>
			<param name="maximumFileSize" value="1024KB"/>
			<param name="maxSizeRollBackups" value="20"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%level] %thread %logger - %message%newline"/>
			</layout>
		</appender>
		<appender name="EventLog" type="log4net.Appender.EventLogAppender">
			<threshold value="ERROR"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="MyApp.exe has thrown an error and was unable to complete its task. This is the error message (please see the log file for more details):%newline%newline %message"/>
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="RollingFile"/>
		</root>
	</log4net>
	<system.web>
		<!--
            The <authentication> section enables configuration of the security authentication
            mode used by ASP.NET to identify an incoming user.
        -->
		<authentication mode="Windows"/>
		<!-- 
            Set compilation debug="true" to insert debugging symbols into the compiled page.
            Because this affects performance, set this value to true only during development.
        -->
		<compilation debug="false">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<!--
            The <customErrors> section enables configuration of what to do if/when an unhandled
            error occurs during the execution of a request.  Specifically, it enables developers
            to configure html error pages to be displayed in place of an error stack trace.
        -->
		<customErrors mode="Off">
			<error statusCode="403" redirect="Warning.htm"/>
			<error statusCode="404" redirect="Warning.htm"/>
			<error statusCode="500" redirect="Warning.htm"/>
		</customErrors>
		<!--
            FULLY QUALIFY URL FOR CLIENT REDIRECTS
            Some mobile devices require that the URL for client redirects be fully qualified.
        -->
		<httpRuntime useFullyQualifiedRedirectUrl="true"/>
		<!--
          SPECIFY COOKIELESS DATA DICTIONARY TYPE
          This will cause the dictionary contents to appear in the local request url querystring.
          This is required for forms authentication to work on cookieless devices.
        -->
		<mobileControls cookielessDataDictionaryType="System.Web.Mobile.CookielessData"/>
		<deviceFilters>
			<filter name="isJPhone" compare="Type" argument="J-Phone"/>
			<filter name="isHTML32" compare="PreferredRenderingType" argument="html32"/>
			<filter name="isWML11" compare="PreferredRenderingType" argument="wml11"/>
			<filter name="isCHTML10" compare="PreferredRenderingType" argument="chtml10"/>
			<filter name="isGoAmerica" compare="Browser" argument="Go.web"/>
			<filter name="isMME" compare="Browser" argument="Microsoft Mobile Explorer"/>
			<filter name="isMyPalm" compare="Browser" argument="MyPalm"/>
			<filter name="isPocketIE" compare="Browser" argument="Pocket IE"/>
			<filter name="isUP3x" compare="Type" argument="Phone.com 3.x Browser"/>
			<filter name="isUP4x" compare="Type" argument="Phone.com 4.x Browser"/>
			<filter name="isEricssonR380" compare="Type" argument="Ericsson R380"/>
			<filter name="isNokia7110" compare="Type" argument="Nokia 7110"/>
			<filter name="prefersGIF" compare="PreferredImageMIME" argument="image/gif"/>
			<filter name="prefersWBMP" compare="PreferredImageMIME" argument="image/vnd.wap.wbmp"/>
			<filter name="supportsColor" compare="IsColor" argument="true"/>
			<filter name="supportsCookies" compare="Cookies" argument="true"/>
			<filter name="supportsJavaScript" compare="Javascript" argument="true"/>
			<filter name="supportsVoiceCalls" compare="CanInitiateVoiceCall" argument="true"/>
		</deviceFilters>
		<!--
          REGISTER MOBILE CONTROLS TAG PREFIX
          This will register the mobile controls tab prefix.
        -->
		<pages>
			<controls>
				<add tagPrefix="mobile" namespace="System.Web.UI.MobileControls" assembly="System.Web.Mobile"/>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<httpHandlers>
			<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpHandlers>
		<!--<httpModules>
			<add name="HitCounterHttpModule" type="Wap_TruyenThong.Library.HitCounterHttpModule" />
		</httpModules>-->
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="MSCaptchaImage" path="CaptchaImage.axd" verb="GET" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" preCondition="integratedMode,runtimeVersionv2.0"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
		<security>
			<requestFiltering>
				<fileExtensions>
					<add fileExtension=".aspx" allowed="true"/>
				</fileExtensions>
			</requestFiltering>
		</security>
		<!--<modules>
			<add name="HitCounterHttpModule" type="Wap_TruyenThong.Library.HitCounterHttpModule" />
		</modules>-->
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
	</system.webServer>
	<applicationSettings>
		<Wap_TheThaoSo.Properties.Settings>
   <setting name="Wap_TheThaoSo_WapTheThaoSoWebReference_GetAvatarThumb"
    serializeAs="String">
    <value>http://media.xzone.vn:8007/GetAvatarThumb.asmx</value>
   </setting>
   <setting name="Wap_TheThaoSo_TinTucWebReference_GetAvatarThumb"
    serializeAs="String">
    <value>http://media.xzone.vn:8009/GetAvatarThumb.asmx</value>
   </setting>
   <setting name="Wap_TheThaoSo_vn_xzone_payment_srti" serializeAs="String">
    <value>http://payment.xzone.vn/srti.asmx</value>
   </setting>
   <setting name="Wap_TheThaoSo_vn_xzone_media_MOReceiver" serializeAs="String">
    <value>http://media.xzone.vn:8094/MOReceiver.asmx</value>
   </setting>

   <setting name="Wap_TheThaoSo_VnmCharging_WebServiceCharging3g"
    serializeAs="String">
    <value>http://sv36.vmgmedia.vn:9203/WebServiceCharging3g.asmx</value>
   </setting>

	<setting name="Wap_TheThaoSo_SentMT_ServiceProviderService" serializeAs="String">
                <value>http://sendmt.vmgmedia.vn/api/services/sendMT</value>
            </setting>

  </Wap_TheThaoSo.Properties.Settings>

		<!--<Wap_TruyenThong.Properties.Settings>
			<setting name="Wap_TruyenThong_GetAvatar_Service1" serializeAs="String">
				<value>http://localhost:8007/Service1.asmx</value>
			</setting>
			<setting name="Wap_Dalink_GetAvatar_Service1" serializeAs="String">
				<value>http://media.nhacvietplus.com.vn:8007/GetAvatarThumb.asmx</value>
			</setting>
			<setting name="Wap_TruyenThong_vn_com_nhacvietplus_media1_GetAvatarThumb" serializeAs="String">
				<value>http://media1.nhacvietplus.com.vn:8007/GetAvatarThumb.asmx</value>
			</setting>
		</Wap_TruyenThong.Properties.Settings>-->

	</applicationSettings>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
