<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wap_TheThaoSo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Wap_TheThaoSo.Properties.Settings>
            <setting name="Wap_TheThaoSo_WapTheThaoSoWebReference_GetAvatarThumb"
                serializeAs="String">
                <value>http://123.29.68.131:8007/GetAvatarThumb.asmx</value>
            </setting>
            <setting name="Wap_TheThaoSo_TinTucWebReference_GetAvatarThumb"
                serializeAs="String">
                <value>http://123.29.68.131:8009/GetAvatarThumb.asmx</value>
            </setting>
            <setting name="Wap_TheThaoSo_vn_xzone_payment_srti" serializeAs="String">
                <value>http://payment.xzone.vn/srti.asmx</value>
            </setting>
            <setting name="Wap_TheThaoSo_vn_xzone_media_MOReceiver" serializeAs="String">
                <value>http://media.xzone.vn:8094/MOReceiver.asmx</value>
            </setting>
            <setting name="Wap_TheThaoSo_VnmCharging_WebServiceCharging3g"
                serializeAs="String">
                <value>http://sv36.vmgmedia.vn:9203/WebServiceCharging3g.asmx</value>
            </setting>
            <setting name="Wap_TheThaoSo_SentMT_ServiceProviderService" serializeAs="String">
                <value>http://192.168.168.33:8080/api/services/sendMT</value>
            </setting>
            <setting name="Wap_TheThaoSo_WSVisport_WebService" serializeAs="String">
                <value>http://sv167.vmgmedia.vn:8000/WebService.asmx</value>
            </setting>
            <setting name="Wap_TheThaoSo_WS_ViSport_WebService" serializeAs="String">
                <value>http://sv167.vmgmedia.vn:8000/WebService.asmx</value>
            </setting>
            <setting name="Wap_TheThaoSo_Vmgame_Service_RegisS2" serializeAs="String">
                <value>http://vmgame.vn/Service_RegisS2.asmx</value>
            </setting>
            <setting name="Wap_TheThaoSo_WS_94x_S2Vnm" serializeAs="String">
                <value>http://sv36.vmgmedia.vn:9005/S2Vnm.asmx</value>
            </setting>
            <setting name="Wap_TheThaoSo_WS_Euro2016_Euro" serializeAs="String">
                <value>http://sv167.vmgmedia.vn:8000/Euro.asmx</value>
            </setting>
            <setting name="Wap_TheThaoSo_MsisdnService_MsisdnService" serializeAs="String">
                <value>http://vmgame.vn:8001/MsisdnService.asmx</value>
            </setting>
            <setting name="Wap_TheThaoSo_VisportNew_VnmVsp" serializeAs="String">
                <value>http://sv167.vmgmedia.vn:9001/VnmVsp.asmx</value>
            </setting>
        </Wap_TheThaoSo.Properties.Settings>
    </applicationSettings>
</configuration>