<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<urlrewrites>
	<rule name="Wap Home page">
		<url>/(\w+)/lang/(\d*)/w/(\d*).aspx</url>
		<rewrite>/Wap/Default.aspx?lang=$2&amp;w=$3</rewrite>
	</rule>
	<rule name="Wap Game page">
		<url>/(\w+)/lang/(\d*)/display/(\w+)/w/(\d*).aspx</url>
		<rewrite>/Game/Default.aspx?lang=$2&amp;display=$3&amp;w=$4</rewrite>
	</rule>
	<rule name="Wap Game by type">
		<url>/(\w+)/lang/(\d*)/display/(\w+)/w/(\d*)/type/(\w+)/cpage/(\d*).aspx</url>
		<rewrite>/Game/Default.aspx?lang=$2&amp;display=$3&amp;w=$4&amp;type=$5&amp;cpage=$6</rewrite>
	</rule>
	<rule name="Wap Game by type and cattype">
		<url>/(\w+)/lang/(\d*)/display/(\w+)/w/(\d*)/type/(\w+)/cattype/(\d*).aspx</url>
		<rewrite>/Game/Default.aspx?lang=$2&amp;display=$3&amp;w=$4&amp;type=$5&amp;cattype=$6</rewrite>
	</rule>
	<rule name="Wap Game by type and cattype and cpage">
		<url>/(\w+)/lang/(\d*)/display/(\w+)/w/(\d*)/type/(\w+)/cattype/(\d*)/cpage/(\d*).aspx</url>
		<rewrite>/Game/Default.aspx?lang=$2&amp;display=$3&amp;w=$4&amp;type=$5&amp;cattype=$6&amp;cpage=$7</rewrite>
	</rule>
	<rule name="Wap Game page 1">
		<url>/(\w+)/lang/(\d*)/display/(\w+)/w/(\d*)/cattype/(\d*).aspx</url>
		<rewrite>/Game/Default.aspx?lang=$2&amp;display=$3&amp;w=$4&amp;cattype=$5</rewrite>
	</rule>
	<rule name="Wap Game category page">
		<url>/(\w+)/lang/(\d*)/display/(\w+)/w/(\d*)/catid/(\d*)/cattype/(\d*).aspx</url>
		<rewrite>/Game/Default.aspx?lang=$2&amp;display=$3&amp;w=$4&amp;catid=$5&amp;cattype=$6</rewrite>
	</rule>
	<rule name="Wap Game detail page">
		<url>/(\w+)/lang/(\d*)/display/(\w+)/w/(\d*)/id/(\d*)/cattype/(\d*).aspx</url>
		<rewrite>/Game/Default.aspx?lang=$2&amp;display=$3&amp;w=$4&amp;id=$5&amp;cattype=$6</rewrite>
	</rule>
	<rule name="Wap Game search page">
		<url>/(\w+)/lang/(\d*)/display/(\w+)/w/(\d*)/key/(\w+)/catid/(\d*)/cattype/(\d*).aspx</url>
		<rewrite>/Game/Default.aspx?lang=$2&amp;display=$3&amp;w=$4&amp;key=$5&amp;catid=$6&amp;cattype=$7</rewrite>
	</rule>
	<rule name="Wap Setting page">
		<!--return "/Common/Default.aspx?lang=" + lang + "&display=" + display + "&w=" + width + "&returnUrl=" + HttpUtility.HtmlEncode(HttpContext.Current.Request.RawUrl);-->
		<url>/(\w+)/lang/(\d*)/display/(\w+)/w/(\d*).aspx</url>
		<!--return "/Common/lang/" + lang + "/display/" + display + "/w/" + width + "/returnUrl/" + HttpUtility.HtmlEncode(HttpContext.Current.Request.RawUrl + ".aspx");-->
		<rewrite>/Common/Default.aspx?lang=$2&amp;display=$3&amp;w=$4</rewrite>
	</rule>
</urlrewrites>